Flask>=2.2
Flask-Login>=0.6
Flask-WTF>=1.1
Flask-SQLAlchemy>=3.0
SQLAlchemy>=1.4

mysqlclient>=2.2.0

gunicorn>=21.0.0

pymysql>=1.1.0

python-dotenv>=1.0
WTForms>=3.0
passlib[bcrypt]>=1.7

google-api-python-client>=2.100.0
google-auth>=2.23.0
google-auth-oauthlib>=1.1.0

requests>=2.31.0
APScheduler>=3.10.0
holidays>=0.40
